* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: -1px;
}

header.main {
  width: 100%;
  height: 20vh;
  background-image: url(./assets/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.title {
  width: 100%;
  height: 10vh;
  background-image: url(./assets/title.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

footer.main {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.main .left {
  width: 50%;
  height: 100%;
  background-image: url(./assets/footer-left.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

footer.main .right {
  width: 50%;
  height: 100%;
  background-image: url(./assets/footer-right.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

form {
  /* background-color: #d95d27; */
  width: 75%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative; /* Required for positioning the pseudo-element */
  padding: 40px; /* Inner padding to create space inside the border */
  background-color: white; /* Background color inside the box */
  border-radius: 50px; /* Rounded corners */
  z-index: 1; /* Positioning context for the content */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  overflow: hidden; /* Hide overflow to clip the pseudo-element */
}

form::before {
  content: ""; /* Empty content for the pseudo-element */
  position: absolute; /* Position it relative to the parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 40px; /* Same rounded corners */
  padding: 20px; /* Border width */
  background: linear-gradient(to bottom, #3781c3, transparent); /* Gradient effect */
  z-index: -1; /* Behind the main content */
}

form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

form .input {
  background-color: #d95d27;
  padding: 15px 25px;
  padding-bottom: 30px;
}

form .input:first-child {
  border-radius: 20px 20px 0 0;
  padding-top: 100px;
}

form .input:last-child {
  border-radius: 0 0 20px 20px;
  padding-bottom: 100px;
}

form .input label {
  color: white;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

form .input input {
  border: 0;
  font-size: 35px;
  padding-left: 10px;
  width: 100%;
  outline: none;
  height: 3vh;
  border-radius: 50px;
}

button#submit {
  position: relative;
  border: 0;
  outline: none;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 90px;
  background-color: transparent;

  background-image: url(./assets/btn.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

button#submit:disabled {
  opacity: 0.5 !important;
}

.custom-alert {
  display: none; /* Hidden by default */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay effect */
  z-index: 1000; /* Ensure it's above other elements */
}

.custom-alert-content {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  border: 1px solid #888;
  width: 70%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-alert-content button {
  width: 30%;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #3781c3;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
